{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
	  <h1>Welcome to Verdant OS</h1>
<!--    <h1>{{.Title}}</h1>-->
<!--    <p>{{.Description}}</p>-->
  </div>
  <div id="action-buttons">
    <a class="button yellow outline big" href="https://verdantos.gitlab.io/downloads/" onclick="_gaq.push(['_trackEvent', 'kube', 'download', '1.0']);">Download</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Fast" height="48" src="../img/frontpage/feather/fast.png" width="48">
        </figure>
        <h3>Fast</h3>
        <p>Verdant OS is snappy on everything from the latest hardware to your old laptop thanks to its lightweight desktop environment.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Beautiful" height="48" src="../img/frontpage/feather/beautiful.png" width="48">
        </figure>
        <h3>Beautiful</h3>
        <p>Verdant OS follows a deliberate <a href="">design language</a> that defines each piece of the user experience, from the startup screen to the application menu and beyond.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Easy" height="48" src="../img/frontpage/feather/easy.png" width="48">
        </figure>
        <h3>Easy</h3>
        <p>Every aspect of Verdant OS is thoughtfully crafted to be simple and intuitive, whether you're a casual user or a computer guru.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
	<figure>
          <img alt="Reliable" height="48" src="../img/frontpage/feather/reliable.png" width="48">
        </figure>
        <h4>Reliable</h4>
        <p>Verdant OS has the Linux kernel at its heart, the same technology that powers millions of smartphones and web servers worldwide. It is also built upon the well established <a href="https://www.centos.org/" target="_blank">Cent OS</a> and <a href="https://nixos.org/nix/" target="_blank">Nix</a> projects, chosen to give the best mix of reliability and cutting edge software.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Secure" height="48" src="../img/frontpage/feather/secure.png" width="48">
        </figure>
        <h4>Secure</h4>
        <p>Verdant OS cares about your privacy and safety. We ship powerful system monitoring and security software such as KSysGuard and GUFW out of the box, and promise to never collect any private information from our users without their consent.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Free and Open Source" height="48" src="../img/frontpage/feather/foss.png" width="48">
        </figure>
        <h4>Free and Open Source</h4>
        <p>Verdant OS is a community project made by volunteers. 100% of its code is free and open to be viewed, edited, and reused for whatever you want. Even <a href="https://gitlab.com/VerdantOS/verdantos.gitlab.io" target="_blank">this website</a>.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
