  <footer id="footer">
    <nav>
      <ul>
        <li><span>&copy; 2018 Verdant OS</span></li>
      </ul>
    </nav>
    <p>Hosted at <a href="https://gitlab.com/" target="_blank">Gitlab</a> and based on the <a href="https://github.com/jeblister/kube" target="_blank">Kube</a> theme for <a href="https://gohugo.io/" target="_blank">Hugo</a>.</p>
  </footer>