<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <img src="../img/header/verdant.png">
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="/" title="Verdant OS"><img src="https://verdantos.gitlab.io/img/header/verdant.png" alt="Verdant OS" ></a>
    </div>
    <nav id="top-nav-main">
      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra">
      <ul>
        <li>
	  <a href="https://reddit.com" target="_blank"><img src="https://verdantos.gitlab.io/img/header/reddit.png" alt="Reddit"></a>
	  <a href="https://mastodon.social/@VerdantOS" target="_blank"><img src="https://verdantos.gitlab.io/img/header/mastodon.png" alt="Mastodon"></a>
	  <a href="https://twitter.com/VerdantOS" target="_blank"><img src="https://verdantos.gitlab.io/img/header/twitter.png" alt="Twitter"></a>
	  <a href="https://gitlab.com/VerdantOS/" target="_blank"><img src="https://verdantos.gitlab.io/img/header/gitlab.png" alt="Gitlab"></a>
        </li>
      </ul>
    </nav>
  </div>
