@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-LightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-BlackItalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-BoldItalic.otf') format('otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Semibold.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-SemiboldItalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://verdantos.gitlab.io/font/Poppins-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
